#wrapper {
    width: 70%;
    margin: 0 auto;
	position:relative;
}

body {
	padding-bottom:150px;
  background-color: white;
}


/****  JUMBOTRON *****/
.jumbotron {
  height: 30px;
  top: 20px;
  position: relative;
  background-color: #eb6631 !important;

}

.jumbotron .container {
  position: relative;
  top:0px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p a{
  font-size: 30px;
  bottom: 10px;
  color: #fff;

}

.container {
  padding-left: 0px;
}
/*******************/

.btn{
 width: 50%;
}


/***** NAVBAR *****/
.navbar-custom {
	background-color: lightgrey;
	height:50px;
	top: 0px;
	border-color: #ffffff;
	font-weight: bold;
}
.navbar-custom .navbar-brand {
	color: #ffffff;
}
.navbar-custom .navbar-brand:hover, 
.navbar-custom .navbar-brand:focus {
	color: #fff;
	border-color: #fff;
}
.navbar-custom .navbar-text {
	color: #ffffff;
}
.navbar-custom .navbar-nav > li > a {
	font-size: 16px;
	border-color: #fff;
	color: #ffffff;
}
.navbar-custom .navbar-nav > li > a:hover, 
.navbar-custom .navbar-nav > li > a:focus {
	color: #eb6631;
	background-color: #fff
}
.navbar-custom .navbar-nav > .active{
	color: #fff;
	background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a, 
.navbar-custom .navbar-nav > .active > a:hover, 
.navbar-custom .navbar-nav > .active > a:focus {
	color: #eb6631;
	background-color: #fff;
}
.navbar-custom .navbar-nav > .open > a, 
.navbar-custom .navbar-nav > .open > a:hover, 
.navbar-custom .navbar-nav > .open > a:focus {
	color: #fff;
	background-color: #fff;
}
.navbar-custom .navbar-toggle {
	border-color: #ffffff;
	background-color: #eb6631;
}
.navbar-custom .navbar-toggle:hover, 
.navbar-custom .navbar-toggle:focus {
	background-color: #ffffff; 
}
.navbar-custom .navbar-toggle .icon-bar {
	background-color: #fff;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
	border-color: #eb6631;
}
.navbar-custom .navbar-link {
	color: #ffffff;
}
.navbar-custom .navbar-link:hover {
	color: #fff;
}

.nummer {
  width:40px;
  text-align: center;
}

.data {
  width: 100px;
  text-align: center;
}

.input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
}

.input-group .activate {
  position: relative;
  background-color: #5cb85c;
  z-index: 2;
  float: left;
  left: -20px;
  width: 100%;
  margin-bottom: 0;

}

.input-group .inactivate {
  position: relative;
  background-color: #d9534f;
  z-index: 2;
  float: left;
  left: -20px;
  width: 100%;
  margin-bottom: 0;

}

.input-group .confirm {
  position: relative;
  background-color: #d9edf7;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
}

.input-group .add1 {
  position: relative;
  background-color: #d9edf7;
  z-index: 2;
  float: left;
  left: -30px;
  width: 114%;
  margin-bottom: 0;

}

.input-group .add {
  position: relative;
  background-color: #d9edf7;
  z-index: 2;
  float: left;
  left: -43px;
  width: 114%;
  margin-bottom: 0;

}

.input-group .raffle {
  position: relative;
  background-color: #d9edf7;
  z-index: 2;
  float: left;
  width: 150%;
  margin-bottom: 0;
  left: 107 px;
}

.bothActive {
  left: -40px;
}

td a {
  color: black;
}td a:hover {
  color: black;
}
